<nav>
  <div class="navbar">
    <div class="heading_navbar">Quora</div>

    <div class="icons icons_one">
      <a href="/userProfile?page=home"><img
          width="30"
          height="30"
          src="https://img.icons8.com/ios-glyphs/30/aa2200/home.png"
          alt="home"
        /></a>
      <a href="/"><img
          width="50"
          height="50"
          src="https://img.icons8.com/ios/50/7f8081/newspaper-.png"
          alt="newspaper-icon"
        /></a>
      <a href="/allquestions"><img
          width="50"
          height="50"
          src="https://img.icons8.com/ios-filled/50/7f8081/hand-with-pen.png"
          alt="hand-with-pen"
        /></a>
      {{! people icon }}
      <a href="/"><img
          width="64"
          height="64"
          src="https://img.icons8.com/pastel-glyph/64/7f8081/person-male--v3.png"
          alt="person-male--v3"
        /></a>
      <a href=""><img
          width="24"
          height="24"
          src="https://img.icons8.com/material-sharp/24/7f8081/bell.png"
          alt="bell"
        /></a>
    </div>
    <input
      type="text"
      placeholder="Search Quora"
      name="search"
      class="search"
      autocomplete="off"
    />
    <a href="/" class="try_quoraplus">Try Quora+</a>
    <div class="icons icons_two">
      <a href="/userProfile?id={{user._id}}"><img
          width="50"
          height="50"
          src="https://img.icons8.com/ios-filled/50/7f8081/user.png"
          alt="user"
        /></a>
      <a href=""><img
          width="50"
          height="50"
          src="https://img.icons8.com/ios-filled/50/7f8081/geography.png"
          alt="geography"
        /></a>
    </div>
    <a href="/" class="add_q"><span>Add question</span><span>
        <img
          width="50"
          height="50"
          src="https://img.icons8.com/ios-filled/50/ffffff/sort-down.png"
          alt="sort-down"
        /></span></a>
  </div>
</nav>